<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Manutenções Preventivas</title>
</head>
<body>
    <h1>Sistema de Manutenções Preventivas</h1>
    <ul>
        <li><a href="/criar_arquivo">Criar arquivo Excel</a></li>
        <li><a href="/cadastrar_equipamento">Cadastrar novo equipamento</a></li>
        <li><a href="/registrar_manutencao">Registrar manutenção preventiva</a></li>
        <li><a href="/consultar_historico">Consultar histórico de manutenções</a></li>
    </ul>
</body>
</html>
